* {
  /* 自動計算 去除padding, border面積變大效應 */
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

@media(max-width:1280px) {
  body {
    height: auto;
  }
}

@media(max-width:560px) {
  body {
    height: auto;
  }
}

.nav {
  background-color: rgb(90, 147, 107);
  width: 366px;
  height: 100%;
  float: left;
  padding: 100px;
}

@media(max-width:1280px) {
  .nav {
    width: 100%;
    height: 110px;
    padding: 15px;
    margin: auto;
  }
}

@media(max-width:560px) {
  .nav {
    /* width: 100%;
    height: 110px;
    float: left;
    padding: 15px;
    margin: auto; */
    position: relative;
  }
}

.logo {
  background-color: rgb(207, 206, 209);
  background-image: url(../svg/forest-jungle-tree.svg);
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  
}

@media(max-width:1280px) {
  .logo {
    width: 80px;
    height: 80px;
    float:left ;
    float: top;
  }
}

@media(max-width:560px) {
  .logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.logo:hover {
  transform: scale(1.2);
  /* border-radius: 60%; */
  transform: rotate(360deg);
  transition: 3s;
  box-shadow: -5px 8px 20px rgb(43, 6, 6) , 1px 10px 24px rgba(255, 237, 237, 0.8);
}
.nav-btn-all {
  background-color: transparent;
  /* height: 200px; */
  width: 100%;
}

@media(max-width:1280px) {
  .nav-btn-all {
    background-color: transparent;
    height: 100%;
    width: auto ;
    float: right;
  }
}

@media(max-width:560px) {
  .nav-btn-all {
    background-color: rgba(98, 104, 30, 0.717);
    width: 40%;
    height: 180px;
    position: absolute;
    top: 95px;
    left: 15px;
    display: none;
  }

}

.nav-btn {
  background-color: rgb(174, 187, 36);
  width: 100%;
  color: rgb(251, 250, 248);
  text-align: center;
  font-style: Microsoft JhengHei;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 20px;
  padding: 15px 0;
  margin-bottom: 10px;
  float: left;
}

@media(max-width:1280px) {
  .nav-btn {
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: auto;
    float: right;
    padding: 15px 22px;
  }
}

@media(max-width:560px) {
  .nav-btn {
    width: 90%;
    font-size: 15px;
    margin-top: 15px;
    padding: 10px 0;
    border-radius: 5px;
    float: left;
  }
}

.nav-btn:hover {
  background-color: rgb(221, 126, 2);
  color: wheat;
  border-style: inset;

}

.nav-btn:active {
  background-color: rgb(139, 38, 95);
  color: wheat;
}

.container {
  background-color: rgb(202, 216, 188);
  width: calc(100% - 366px);
  height: 100%;
  float: left;
  padding-top: calc((100vh - 567px) / 2);
}

@media(max-width:1280px) {
  .container {
    width: 100%;
    height: calc(100% - 110px);
    padding: 70px 0;
  }
}

@media(max-width:560px) {
  .container {
    height: calc(100% - 110px);
    width: 100%;
    margin: auto;
    padding: 0;
  }
}

.content {
  background-color: rgb(202, 216, 188);
  width: 960px;
  height: 567px;
  margin: auto;
}

@media(max-width:1400px) {
  .content {
    width: 800px;
  }
}

@media(max-width:1280px) {
  .content {
    width: 535px;
    height: 615px;
  }
}

@media(max-width:560px) {
  .content {
    width: 100%;
    height: 100vh;
  }

}

.img {
  background-color: bisque;
  width: calc((100% - 10px * 2) / 3);
  height: 100%;
  float: left;
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

@media(max-width:1400px) {
  .img {
    height: 50%;
  }
}

@media(max-width:1280px) {
  .img {
    background-position: top;
    height: 50%;
  }
}

@media(max-width:560px) {
  .img {
    background-position: top;
    width: 100%;
    height: 50%;
  }
}

.img:hover {
  transform: scale(0.8);
  border-radius: 30px;
  transform: rotateY(180deg);
  transition: 2s;
}

.img-1 {
  background-image: url(../img/meerkat.jpg);

}

.img-2 {
  background-image: url(../img/Tiger.jpg);
}

.img-3 {
  background-image: url(../img/panda.jpg);
}

@media(max-width:1400px) {
  .img-1 {
    width: 100%;
    background-position-y: -20px;
    margin-bottom: 10px;
  }

  .img-2 {
    background-position-y: 30%;
    width: calc(50% - 5px);
    margin-right: 10px;
  }

  .img-3 {
    background-position-y: 30%;
    width: calc(50% - 5px);
  }
}

@media(max-width:1280px) {
  .img-1 {
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
  }

  .img-2 {
    width: calc(50% - 5px);
    margin-right: 10px;
  }

  .img-3 {
    width: calc(50% - 5px);
  }
}

@media(max-width:560px) {
  .img-1 {
    width: 100%;
    margin-bottom: auto;
  }

  .img-2 {
    width: 100%;
  }

  .img-3 {
    width: 100%;
  }
}

/* =============================================  */
/* 漢堡menu */
.ham-btn {
  background-color: rgb(174, 187, 36);
  width: 80px;
  height: 80px;
  /* /* 顯示模式為區塊層級 */
  display: none;
  position: relative;
}

@media(max-width:560px) {
  .ham-btn {
    display: block;
  }
}

/* 空格代表後代  .ham-btn 的後代 .line*/
.ham-btn .line {
  background-color: rgb(251, 250, 248);
  width: 80%;
  height: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 動作一秒內慢慢完成 */
  transition: 1s;
}

.ham-btn .line-1 {
  top: 25%;
}

.ham-btn .line-2 {
  top: 50%;
}

.ham-btn .line-3 {
  top: 75%
}

/* #ham-btn-switch:checked 按下 */
/* "+" => " 在#ham-btn-switch 之後(之右)的第一個兄弟 .ham-btn 的後代 .line-1*/
#ham-btn-switch:checked+.ham-btn .line-1 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

#ham-btn-switch:checked+.ham-btn .line-2 {
  /* 顯示模式 => 隱藏 */
  display: none;
}

#ham-btn-switch:checked+.ham-btn .line-3 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.menu {
  background-color: aquamarine;
  width: 100%;
  /* height: 300px; */
  display: none;
}

/* "~" 波浪符號 => 後面所有的兄弟 裡面的 .menu */
#ham-btn-switch:checked~.nav-btn-all {
  /* 顯示模式 => 隱藏 */
  display: block;
}